body{
    background-color: bisque;
}

header{
    font-family: 'Exo', sans-serif; 
    background-color: gray;
    color:azure;
    display: flex;
    flex-direction: column;
  align-items: center;
    line-height: 4rem;
    position: relative;
    border: solid white 2px;
}

h1{
font-weight: bolder;
display: flex;
align-items: center;
position: relative;
padding: 8px;

}

h2{
    padding: 8px;
}

img {
    width: 25%;
    height: 25%;
}

li {
    list-style-type: none;
}

#userInput{
    font-family: 'Exo', sans-serif; 
    background-color: gray;
    display: flex;
    flex-direction: column;
  align-items: center;
    line-height: 3rem;
    position: relative;
    border: solid white 2px;
}

#userInputBox{
    flex-direction: row;
    min-height: fit-content;
    margin: 5px;
}

#searchContent{
    width: 70vw;
}

#eventData{
    background-color: gray;
    height: 60vh;
    border: solid white 2px;
    min-width: 100%;
}


#savedLinks{
    font-family: 'Exo', sans-serif; 
    background-color: gray;
    color:azure;
    display: flex;
    flex-direction: column;
  align-items: center;
    line-height: 3rem;
    position: relative;
    height: 20vh;
    border: solid white 2px;

}

.container {
    display: flex;
    justify-content: center;    
}

.inner_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    justify-content: center;
}